 <div class="card col-12 col-md-4">
<form class="card-body login-form">
    {{!-- <h3 class="card-header text-uppercase">Login</h3> --}}
    <div>
        <label for="email-login" class="form-label">email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login"  class="form-label">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit" class="btn">login</button>
        
         <a href="/signup" class="link-item">Click here if you do not have an account!</a>
        
    </div>
    
</form>


</div>
<script src="/javascript/login.js"></script>
